<div class="editor-box">
    <h2>Code Editor</h2>
    <div class="each-editor-outer">
        <h3>HTML</h3>
        <pre id="html-editor" class="pre-editor"></pre>
    </div>

    <div class="each-editor-outer">
        <h3>CSS</h3>
        <pre id="css-editor" class="pre-editor"></pre>
    </div>
</div>
<script src="/js/editor-manager.js" defer></script>
<script src="/js/render.js" defer></script>