<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>⚔️ CSS Battle</title>
<body>
    <main>
        <div class="hero-area">
            <div class="left">
                <h1>CSS Battle</h1>
                <p>Test your CSS skills. Compete. Win!</p>
            </div>
            <div class="right">
                <img src="asset/logo.png" alt="Logo">
            </div>
            
        </div>
        <div class="cta-area">
            <a href="/login"><button>Login</button></a>
            <a href="/challenges"><button>Challenges</button></a>
        </div>
        <div class="rules-area">
            <h2>Rules</h2>
            <ol type="1">
                <li><strong>No Images:</strong> You cannot use images in the code in any manner.</li>
                <li><strong>Replicate the Design:</strong> Use only HTML and CSS to match the given design.</li>
                <li><strong>No Frameworks or Libraries:</strong> Pure HTML and CSS only, no external tools allowed.</li>
                <li><strong>No Cheating:</strong> Sharing solutions or using auto-generating tools is prohibited.</li>
                <li><strong>Accuracy Wins:</strong> Scoring is based on how closely your design matches the target.</li>
                <li><strong>Time Breaks Ties:</strong> In case of a tie, earlier submissions rank higher.</li>
                <li><strong>Multiple Submissions Allowed:</strong> You can submit multiple times; only your best accuracy with the corresponding timestamp will be considered.</li>
                <li><strong>HTML & CSS Only:</strong> No JavaScript or backend code is allowed.</li>
                <li><strong>Event Duration:</strong> The event has a fixed duration, and the remaining time will be displayed at the top-right corner of the screen.</li>
                <li><strong>Browser-Compatible:</strong> Ensure your design works in modern browsers.</li>
                <li><strong>Stay Fair:</strong> Respect fellow participants and event rules.</li>
                <li><strong>Final Decision:</strong> Organizers' decisions are final in all disputes.</li>                
            </ol>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>