<div class="output-box">
    <h2>Code Output</h2>
    <div class="frame-output-combo">
        <div class="slider" id="slider"><span id="slider-span">256</span></div>
        <iframe frameborder="0" id="output-frame">
            <!-- <img src="asset/c1.png" alt="Render"> -->
        </iframe>
        <img src="asset/<%= data.challengeId %>.png" class="target" id="output-target" alt="TargetOutput">
    </div>
    <div class="compare-box">
        <label for="compare">Click to Compare</label>
        <input type="checkbox" id="compare">
    </div>
</div>

<script src="js/output.js" defer></script>