<div class="output-box">
    <h2>Code Output</h2>
    <div class="frame-output-combo">
        <div class="slider" id="slider"><span id="slider-span">256</span></div>
        <iframe frameborder="0" id="output-frame">
        </iframe>
        <img src="/asset/problems/<%= data.image %>" class="target" id="output-target" alt="TargetOutput">
    </div>
    <div class="compare-box">
        <label for="compare">Click to Compare</label>
        <input type="checkbox" id="compare">
    </div>
    <button id="submit-btn" >
        <i class="fa-solid fa-circle-check"></i>
        <i class="fa-solid fa-spinner fa-spin"></i>
        <span>Submit</span>
    </button>
    <div id="msg-box" class="">
    </div>
</div>

<script src="/js/output.js" defer></script>