<div class="target-box">
    <div class="target">
        <h2>Target</h2>
        <canvas class="target-canvas" id="targetCanvas"></canvas>
    </div>

    <div class="colors">
        <h2>Colors</h2>
        <div class="colors-box">
            <% data.colors.forEach((each)=>{ %>
                <div class="each-color">
                    <span class="color" style="background-color: <%= each %>;"></span>
                    <span class="text"><%=each%></span>
                </div>
            <% }) %>
        </div>
    </div>
</div>
<script>
    const challengeId='<%= data.challengeId %>';
    const endTime=new Date('<%=data.endTime %>');
</script>
<script src="/js/target.js" type="module" defer></script>
<script src="/js/copyColor.js" defer></script>