main{
    background: black;
    min-height: 100vh;
    padding: 2rem 5rem;
    background: radial-gradient(circle, transparent 20%, #000000 20%, #000000 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #000000 20%, #000000 80%, transparent 80%, transparent) 15px 15px, linear-gradient(#333333 1.2000000000000002px, transparent 1.2000000000000002px) 0 -0.6000000000000001px, linear-gradient(90deg, #333333 1.2000000000000002px, #000000 1.2000000000000002px) -0.6000000000000001px 0;
    background-size: 30px 30px, 30px 30px, 15px 15px, 15px 15px;
}
p.error{
    color: #ff8178;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}