main{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", system-ui;
}
main div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border: 1px solid grey;
    backdrop-filter: blur(1px);
}
h1{
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
}
p{
    max-width: 30rem;
    line-height: 1.5;
    text-align: center;
}
button{
    cursor: pointer;
    padding: 0.8rem 3rem;
    background: #2196F3;
    font-size: 1rem;
}