main{
    display: grid;
    gap:1rem;
    grid-template-columns: auto 400px 400px;
    height: 100vh;
    padding: 4rem 1rem;
    overflow: hidden;
}
h2{
    font-size: 1.7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.top-bar{
    background: #393939;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    position: fixed;
    width: 100%;
}
.top-bar h1{
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.top-bar div{
    background: #F44336;
    padding: 0.4rem 1rem;
    border-radius: 8px;
    letter-spacing: 1px;
    font-weight: 700;
    width: 15rem;
    font-family: "Open Sans", system-ui;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}
.top-bar i{
    margin-right: 0.5rem;
    color: white;
    animation: blink infinite  1000ms 5ms;
}

@keyframes blink {
    to{
        color: #F44336;
    }
    from{
        color: white;
    }
}