main{
    display: grid;
    gap:1rem;
    grid-template-columns: auto 400px 400px;
    height: 100vh;
    background: #000000;
    padding: 1rem;
    overflow: hidden;
}
h2{
    font-size: 1.7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}