<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/adminpanel/adminpanel.css">
    <link rel="stylesheet" href="/css/adminpanel/problems.css">
    <title>AdminPanel</title>
</head>
<body>
    <main>
        <h1>AdminPanel</h1>
        <div class="all-buttons">
            <a href="/adminpanel/create-problem"><button>Create Problem</button></a>
            <a href="/adminpanel/problems"><button>All Problems</button></a>
            <a href="/adminpanel/create-challenge"><button>Create Challenges</button></a>
            <a href="/adminpanel/challenges"><button>All Challenges</button></a>
        </div>
        
    </main>
</body>
</html>